spring:
  application:
    name: blps
  datasource:
    url: jdbc:postgresql://ep-cold-pond-aiwpwa1w-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require
    username: neondb_owner
    password: npg_yASDEsN1vxF8
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
jwt:
  secret: ${JWT_SECRET:blps-super-secret-jwt-key-change-in-production-12345678}
  expiration: 86400000

springdoc:
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    enabled: false
  writer-with-default-pretty-printer: true
  paths-to-match: /api/v1/**
